body {
    font-family: Arial, sans-serif;
    background-color: #58789a;
    margin: 0;
    padding: 0;
    color: white;
}

.details-container {
    width: 40%;
    margin: auto;
    background: #58789a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
    margin-top: 50px;
}

h2 {
    text-align: center;
}

#userDetails {
    margin-top: 20px;
    padding: 10px;
    background: white;
    color: black;
    border-radius: 10px;
}

button {
    margin-top: 15px;
    cursor: pointer;
    background-color: white;
    color: #58789a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}